{% load static %}
{% load bootstrap %}
<!DOCTYPE html>
<html lang="en">
    <head>
      <meta charset="utf-8">
      <title>{% block title %}Titulo{% endblock %}</title>

      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    </head>
    <body>
        <main>
            <nav class="navbar bg-dark navbar-dark text-center">
                <a href="../" type="submit" class="btn btn-primary">Volver</a>
                <a align="right" class="navbar-brand text-white" >Visitante - Medicos</a>
            </nav>

            <div>
                <div class="text-center" style="padding-bottom: 5%">
                    <form method="GET" >
                        {{ filter.form|bootstrap }}
                        <button type="submit" class="btn btn-primary">Filtrar</button>
                    </form>
                </div>
            </div>
            {% for medico in filter.qs %}
            <table class="table table-striped">
                <tr>
                    <td> {{ medico.nombre }} </td>
                    <td> {{ medico.apellidos }} </td>
                    <td> {{ medico.especialidad }} </td>
                </tr>
            </table>
            {% endfor %}
        </main>
    </body>
</html>