{% extends 'base.html' %}
{% block content %}
<nav class="navbar bg-dark navbar-dark text-center">
    <a class="navbar-brand text-white" >Consultas Seguros</a>
    
</nav>
<div class="container" style="padding-top: 10%; width:40%">
    <form action = "" method = "post"> {% csrf_token %}
        <h3 class = "mb-4"> Iniciar Sesión </h3>
        {% if form.non_field_errors %}
        <p style = "color: red"> Error en credenciales. </p>
        {% endif %}
        <p>
            <input type="text" name="username" autofocus required id = "id_username" class = "form-control"/>
        </p>
        <p>
            <input type="password" name="password" required id = "id_password" class = "form-control"/>
        </p>
        <p>
            <input type="submit" class="btn btn-primary btn-block" value="Acceder">
        </p>
    </form>
    <p>
        <a class="btn btn-primary btn-block" href="/accounts/signup"> Registrarse</a>
    </p>
</div>
{% endblock %}